.SParea{
    padding: 80px 10%;
    padding: 80px 5% 80px 25% !important;
}

.SParea .profArea{
    margin-top: 10px;
}

.date{
    opacity: 50%;
    margin-top: -15px;
}

.profRight p{
    font-size: 25px;
    position: relative;
    top:30px;
}
