.categoryArea{
    width: 100%;
    height: auto;
    padding: 80px 5% 80px 25% !important;
}

.categorydiv{
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.29);
    margin: 10px;
    border-radius: 10px;
}
.title{
    text-align: center;
    margin: 20px;
}


.categoryContainer{
    width: 100%;
    height: auto;
    padding: 40px;
}

.left {
    height: auto;
    display: block;
    font-size: 20px;
}



.left p{
    margin: 0px !important;
    font-weight: 100;
    font-size: 14px;
    opacity: 50%;
}

.right{
    display: flex;
    justify-content: end;
    height: auto;
}

.right a{
    margin: 21px 10px;
}

.right button{
    width: 150px;
    margin: 21px 10px;
}

