.create{
    width: 100%;
    height: auto;
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    background: #4568DC; 
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  
    background: linear-gradient(to right, #B06AB3, #4568DC);
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    font-family: 'Poppins', sans-serif;
}

.create h1{
    text-align: left;
}

.makeReviewArea{
    padding: 0 10%;
}

.makeReviewArea button{
    margin: 10px;
}

.makeReviewArea label{
    font-size: 20px;
}



.courseDetails{
   padding-right: 10%;
    text-align: left;
    color: white;
}

.courseDetails .viewreview{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}



.courseDetails .viewreview:hover{
    transition: 0.3s;
    font-size: 20px;
    text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.courseDetails button{
    width: auto;
    height: auto;
    padding: 10px 20px;
    border: none;
    background-color: #0cf0b3;
    font-weight: 500;
    color: rgb(28, 32, 73);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2px;
    margin: 10px;
}

.rTCourse{
    background-color: rgb(222, 176, 232) !important;
}

.courseDetails button:hover{
    background-color: #04584d;
    color: white;
    transition: 0.4s;
}

.courseDetails .addcrtbtn{
    background-color: transparent;
    border: 2px solid #04584d;
    color: white;
}



.videoContainer{
    background-color: #ffffff;
    margin: 10px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}

.courseVideos{
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.recentReview{
    width: 100%;
    height: 80vh;
    padding: 20px 10%;
    font-family: 'Poppins', sans-serif;
}

.recentReview h2{
    text-align: left;
}


.recentReview h2 span{
    font-size: 50px;
    color: #037ad6;
}

.reviewArea{
    width: 100%;
    height: 60vh;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.reviewArea::-webkit-scrollbar {
    display: none;
}


.item{
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: left;
}

.item p{
    width: 95%;
}
.stproimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0cf0b3;
}

.profArea{
    width:100%;
    height: auto;
    padding: 20px 10%;
    margin-top: 50px;
}

.prof{
    width:100%;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.profLeft{
    display:flex;
    margin: auto;
}

.profRight{
    display: flex;
    justify-content: end;
}

.profRight  button{
    height: 40px;
    position: relative;
    top: 60px;
}

