.addcourseArea{
    width: 96%;
    height: 1070px;
    border: 1px solid rgba(137, 137, 137, 0.689);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 95px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    padding: 30px 10px;
}

.addcourseArea h2{
    font-weight: 800;
    margin-bottom: 50px;
    color: #002B5B;
}

.addcourse label{
    text-align: left;
    width: 50%;
    position: relative;
    left: 350px;
    height: 0px;
    font-size: 18px; 
    margin-bottom:70px;
}
.addcourse input {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    margin: 0px 330px 0px 0px;
    padding: 5px 10px;  
}


.addcourse textarea {
    width: 50%;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    margin: 0px 330px 30px 0px;
    padding: 5px 10px;  
}

.courseVideo{
    width: 500px;
    height: 250px;
    background-color: rgb(235, 225, 225);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 499px;
    margin-bottom: 20px;

}

.thumbnail{
    width: 500px;
    height: 250px;
    background-color: rgb(235, 225, 225);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 499px;
    margin-bottom: 20px;
}

.uploadimg{
    width: auto;
    margin: 0 auto;
}

.addcourseArea button{
    margin-top: 15px;
    margin-right: 215px;
    margin-bottom: 70px;
    padding: 12px 18px;;
}

.namee{
    display: flex;
}

.uploadvid input{
    width: auto;
    height: 30px;
    margin: 0 auto;
    margin-left: 550px;
    margin-bottom: 40px;
}

.vimage{
    width:60%;
    padding: 20px 10px;
    opacity: 30%;
}

.timage{
    width:60%;
    padding: 20px 10px;
    opacity: 30%;
}


.addcourseArea h2{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

.addcourseArea h2 span{
    font-size: 35px;
    color: #256D85;
}

.btnadd{
    margin-left: 550px;
}

