.allcoursesviewArea{
    width: 96%;
    height: auto;
    border: 1px solid rgba(137, 137, 137, 0.689);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 90px auto 20px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    padding: 30px 10px;
}

.allcoursesviewArea h2{
    font-size: 35px;
    font-weight: 800;
    color: #002B5B;
}

.allcoursesviewArea h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.allcoursesviewArea h2 span{
    font-size: 40px;
    color: #256D85;
}

img{

    width:100%;
    height:auto;
}

video{
    width:100%;
    height:auto;
}

.cn{
    margin: 10px;
}

.nameN h2{
    text-align: left;
}

.discri{
    text-align: left;
    width: auto;
    height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.discri::-webkit-scrollbar {
    display: none;
}

.btnarea:hover{
    border: none;
}

.allcoursesview{
    width: 100%;
    height: auto;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.allcoursescontainer{
    width: 300px;
    margin: 20px;
}

.btnarea{
    display: flex;
}

.card-footer button{
    height: 28px;
    padding: 10px 0 !important;
    font-size: 11px !important;
}


.allcoursescontainer:hover{
    transition: 0.4s;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.68);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.68);
}

